<div class="grid-line">
  <div class="grid-item">
    <div class="grid-number"></div>
    <div class="grid-number"></div>
    <div class="grid-number"></div>
    <div class="grid-number"></div>
    <div class="grid-number"></div>
    <div class="grid-number"></div>
    <div class="grid-number"></div>
    <div class="grid-number"></div>
    <div class="grid-number"></div>
  </div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
</div>

<div class="grid-line">
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
</div>

<div class="grid-line">
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
</div>
