.grid-line {
  align-items: center;
  display: flex;
  justify-content: center;

  .grid-item {
    border: 1px solid #344861;
    display: flex;
    height: 264.66px;
    flex-wrap: wrap;
    width: 266.66px;

    .grid-number {
      border: 1px solid #344861;
      height: 86.8px;
      width: 86.2px;
    }
  }
}
